@keyframes fadeIn {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

main { animation: fadeIn 0.15s ease-in; }

#loading-bar {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 3px;
  background-color: var(--primary);
  z-index: 9999;
  animation: slideIn 2s infinite;
}
