{% import "macros.html" as ui %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url }}/css/solarnight.css">
    <script type="module" src="{{ base_url }}/js/app.js" defer></script>
</head>
<body>
    <nav class="nav">
        <a href="{{ base_url }}/">home + docs </a>
        <a href="https://github.com/novos-org/novos"> GitHub </a>
    </nav>
    {{ ui::theme_button(text="Switch Appearance") }}
    {{ ui::search_bar(placeholder="docs") }}
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright 2026 xer and {{ config.site.author }}</p>
    </footer>
</body>
</html>
