{% extends "base.html" %}

{% block content %}
<section class="hero container py-5 text-center">
    <h1>novos</h1>
    <h4><strong>WARNING</strong>: This is currently beta software.</h4>
    <div style="display: flex; justify-content: center;">

      <img src="/favicon.svg" alt="novos logo" width="250" height="250">
    </div>
    <p class="lead">Build at the speed of thought.</p>

    <div class="hero-cta mt-4">
        <div class="button-group">
            <button><a style="color: inherit; text-decoration: none;" href="https://github.com/novos-org/novos/">github</a></button>
            <button><a style="color: inherit; text-decoration: none;" href="/docs">docs</a></button>
            <button><a style="color: inherit; text-decoration: none;" href="https://api.github.com/repos/novos-org/novos/tarball/main">tarball</a></button>
            <button><a style="color: inherit; text-decoration: none;" href="https://api.github.com/repos/novos-org/novos/zipball/main">zipball</a></button>
        </div>

        <div class="install-zone mt-5">
            <h2>installation</h2>
            <div class="terminal-box">
                <pre><code>cargo install novos</code></pre>
            </div>
            <p class="meta-links">
                <small class="italic">
		  (or via <a href="https://github.com/novos-org/novos/releases">github releases</a>,
                    <a href="https://raw.githubusercontent.com/novos-org/novos/main/install.sh">install.sh</a>)
                    <br>
                    (<a href="/docs/install">install guide</a>)
                </small>
	    </p>

	    <h2>documentation</h2>
	    {% for post in posts %}
	    <article class="post-card">
	      <h4><a href="{{ config.base_url }}/{{ config.posts_outdir }}/{{ post.slug }}.html">{{ post.title }}</a></h4>
	      <div style="text-align: center;">
	     <small>Published on: {{ post.date | date(format="%B %d, %Y") }}</small>
	     </div>
	      <div style="text-align: center;" class="tags">
		{% for tag in post.tags %}
		<span class="tag"><small> #{{ tag }} </small></span>
          {% endfor %}
	      </div>
	      
          {% endfor %}
	    </article>
{% endblock content %}
