{% extends "base.html" %}

{% block title %} - {{ post.title }}{% endblock %}
{{ total_pages }}
{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <time>Published on: {{ post.date | date(format="%B %d, %Y") }}</time>
        
        <div class="tags">
	  <small>Tags:</small>
            {% for tag in post.tags %}
                <span class="tag"> #{{ tag }} </span>
            {% endfor %}
        </div>

        <hr>
        <div class="post-body">
            {{ content }}
        </div>
    </article>
    {% endblock content %}
