{% extends "base.html" %}

{% block title %} - {{ post.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <time>{{ post.date }}</time>
        
        <div class="tags">
	  <h4 style="text-align: left;">Tags:</h4>
            {% for tag in post.tags %}
                <span class="tag">#{{ tag }}  </span> 
            {% endfor %}
        </div>

        <hr>

        <div class="post-body">
            {{ content }}
        </div>
    </article>
{% endblock content %}
