<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% print title %> - <% site_name %></title>
    <link rel="icon" href="<% base %>/favicon.png" type="image/png">
    <link rel="icon" type="image/svg+xml" href="<% base %>/favicon.svg">
    <link rel="stylesheet" href="<% base %>/css/app.css">
    <script src="<% base %>/js/app.js" defer></script>

</head>

<body>
<header>
  <nav>
    <div class="wrapper flex items-center justify-between py-4">
      
      <ul class="nav-links">
        <li><a href="<% base %>/">index</a></li>
        <li><a href="<% base %>/docs">docs</a></li>
        <li><a href="https://github.com/novos-org/novos">github</a></li>
      </ul>

      <div class="flex items-center gap-4">
        <div class="search-area">
          <input
            type="text"
            id="search-input"
            placeholder="Search docs..."
            autocomplete="off"
            aria-label="Search"
          >
          <div id="search-results" class="results-dropdown"></div>
        </div>

        <button class="menu-toggle" aria-label="Toggle Menu" aria-expanded="false">
          <div class="icon-logo"></div>
        </button>
      </div>

    </div>
  </nav>
</header>
